html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
* {
    box-sizing: border-box;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Start of my code */
/* color variables */
/* start of SITE WIDE styling */NAV styling */
body {
    margin: 0;
}
main {
    margin: 0;
}
header {
    position: relative;
}
#wrapper {
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 1500px;
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
}
header img {
    width: 100%;
}
#services, #portfolio, #reviews, #about, #contact {
    display: flex;
    -webkit-display: flex;
    flex-wrap: wrap;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.error {
    color: red;
    text-align: center;
}
/* start of NAV styling */
.dropdownNav {
    display: flex;
}
h1 {
    display: inline-block;
    color: #FFFFFf;
}
nav {
    margin: 0;
    background-color: rgba(18, 18, 17, .3);
    transition: background-color .5s ease;
    position: fixed;
    padding: .5% 2%;
    top: 0;
    z-index: 3;
    width: 100%;
    max-width: 1500px;
}
nav.tall {
    padding: 2%;
}
nav.opaque {
    background-color: rgba(18, 18, 17, .9);
}
nav a {
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
}
nav a:hover {
    color: #04c7c7;
}
nav ul {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav li > a {
    display: block;
    font-size: 2em;
}
nav li {
    box-sizing: border-box;
    display: inline-block;
    white-space: nowrap;
    padding: 1%;
}
/* scroll arrow styling */
.arrow, .arrow:before {
    position: absolute;
    left: 50%;
    z-index: 2;
    bottom: 40px;
}
.arrow {
    width: 50px;
    height: 50px;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 3px #fff solid;
    border-bottom: 3px #fff solid;
}
.arrow:before {
    content: '';
    width: 25px;
    height: 25px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}
@keyframes arrow {
    0% {opacity: 1; }
    100% { opacity: 0; transform: translate(-10px, -10px);}
}
.headertext, .headertext2 {
    position: absolute;
    color: #f1f1f1;
    left: 3%;
}
.headertext {
    top: 45%;
    width: 35%;
    font-size: 2.8em;
    line-height: 1.1;
}
.headertext2 {
    top: 70%;
    font-size: 3.5em;
    line-height: 1.1;
    font-weight: 300;
}
/* start of SERVICES styling */
.aboutInfo, .skills {
    flex: 1 1 100%;
    text-align: center;
}
.aboutInfo {
    padding: 4% 0;
}
.aboutInfo h2 {
    font-size: 5em;
    padding: 2%;
    line-height: 1.1;
}
.aboutInfo p {
    display: none
}
.aboutInfo h5 {
    font-size: 1.8em;
    padding: 1% 2% 8% 2%;
    line-height: 1.4;
}
.titleScroll, .titleScroll2 {
    color: #ffffff;
}
.icon, .icon2 {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    background-color: #d1d1d1;
    border-radius: 50%;
    margin-top: -60px;
}
.icon img, .icon2 img {
    width: 100%;
    padding: 15% 15% 5% 15%;
    position: relative;
}
.icon img {
    right: 10px;
}
.services {
    flex: 1 1 30%;
    text-align: center;
    padding: 1% 3% 5% 3%;
    /* used for fade in animation */
    opacity: 100;
    transition: opacity 1s ease;
    background-color: #d1d1d1;
}
.serviceDivide, .serviceDivide2, .serviceDivide3 {
    margin: 5% auto 5% auto;
    width: 100px;
}
.serviceDivide {
    border-bottom: 2px solid #04c7c7;
}
.serviceDivide2 {
    border-bottom: 2px solid #C43F75;
}
.serviceDivide3 {
    border-bottom: 2px solid #3245DF;
}
.services p {
    font-size: 1.2em;
    padding: 2% 4%;
    line-height: 1.2;
}
.services h2 {
    font-size: 2.2em;
    padding: 2%;
    font-weight: 300;
    letter-spacing: 1px;
}
.skills {
    flex: 1 1 100%;
    background-color: #d1d1d1;
}
.skills h2 {
    font-size: 2em;
    padding: 1% 2%;
    font-weight: 300;
}
.skills p {
    font-size: 1.5em;
    padding: 1% 2% 6% 2%;
}
.hideme, .hidemehalf {
    opacity: 0;
    transition: opacity 1s ease;
}
/* slidey text thingy code stuff n things */
.reveal-text, .reveal-text::after, .reveal-text2, .reveal-text2::after {
    animation-iteration-count: 1;
    animation-duration: 1500ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.2, 1, 0.4, 1);
}
.reveal-text, .reveal-text::after {
    animation-delay: .5s;
}
.reveal-text2, .reveal-text2::after {
    animation-delay: .8s;
}
.reveal-text, .reveal-text2 {
    position: relative;
    display: inline-block;
    user-select: none;
    animation-name: reveal-text;
    white-space: nowrap;
    cursor: default;
}
.reveal-text {
    color: #000;
}
.reveal-text2 {
    color: #fff;
}
.reveal-text::after, .reveal-text2::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #04c7c7;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer-text;
}
.reveal-text::after {
    color: #000;
}
.reveal-text2::after {
    color: #fff;
}
@keyframes reveal-text {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}
@keyframes revealer-text {
    0%, 50% {
        transform-origin: 0 50%;
    }
    60%, 100% {
        transform-origin: 100% 50%;
    }
    60% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}
/* start of PORTFOLIO styling */
#portfolio {
    background-color: #04c7c7;
}
.portTitle {
    flex: 1 1 100%;
    transition: opacity 1s ease;
    text-align: center;
    padding: 4% 1%;
}
.portTitle > h2, .portTitle > h3, .aboutMe > h2 {
    font-weight: 800;
    letter-spacing: 3px;
    background: linear-gradient(transparent, transparent), url(images/space2.jpg);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
}
.portTitle > h2 {
    font-size: 10em;
}
.portTitle > h3 {
    font-size: 6.5em;
}
.portTitle > p {
    font-weight: 300;
    font-size: 1.4em;
    padding: 3% 1% 1% 1%;
}
.portfolioStart {
    background-color: #ffffff;
    padding: 0;
    display: flex;
    -webkit-display: flex;
    flex-wrap: wrap;
}
.portfolio, .portfolio2 {
    flex: 1 1 40%;
    transition: opacity 1s ease;
}
.portfolio {
    padding: 4% 3% 2% 5%;
}
.portfolio2 {
    padding: 4% 5% 2% 3%;
}
.portfolio img, .portfolio2 img {
    width: 100%;
    border: 15px solid #d1d1d1;
}
.portfolio p, .portfolio2 p {
    text-align: center;
    font-size: 2.5em;
    padding: 2% 0;
}
/* start of REVIEWS styling */
.mainReview {
    flex: 1 1 100%;
    background-color: #C43F75;
    padding: 6% 3% 3% 3%;
    margin: 5% 0 3% 0;
}
.mainReview h3, .mainReview p {
    color: #fff;
    line-height: 1.2;
}
.mainReview h3 {
    font-size: 2.5em;
}
.mainReview p {
    font-size: 1.5em;
    text-align: right;
}
/* start of ABOUT styling */
#about {
    padding: 2% 5% 10% 5%;
}
.aboutMe {
    flex: 1 1 64%;
    padding: 1% 2%;
}
.aboutMe > h2 {
   font-size: 7em;
   padding-bottom: 2%;
}
.aboutMe p {
    padding: 1% 0;
    font-size: 1.2em;
    line-height: 1.1;
}
.aboutMe2 {
    flex: 1 1 30%;
    padding: 1%;
}
.aboutMe2 img {
    width: 100%;
    border: 15px solid #d1d1d1;
}
/* start of CONTACT styling */
.freelance {
    background-color: #d1d1d1;
    flex: 1 1 100%;
}
.freelance > h2 {
    font-size: 2.2em;
    padding: 1% 2%;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
}
.freelance > h3 {
    padding: 2% 2% 5% 2%;
    text-align: center;
    font-size: 2.5em;
    color: #000;
    line-height: 1.2;
}
.serviceDivide4 {
    border-bottom: 2px solid #6E2F77;
    margin: 1% auto 1% auto;
    width: 100px;
}
.contact {
    display: flex;
    -webkit-display: flex;
    flex-wrap: wrap;
    background: url(images/space8.jpg);
    background-size: cover;
}
.form {
    flex: 1 1 100%;
    max-width: 600px;
    margin: 10% auto;
    padding: 5% 2%;
    background-color: rgba(255,255,255,.8);
}
.form > form > p {
    font-size: 1.1em;
    margin: 2% 0;
    display: inline-block;
    width: 100%;
}
.form > form > p > label {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding: 0;
    vertical-align: top;
    font-weight: 300;
}
.form > form > p > input {
    font-size: 1.1em;
    width: 65%;
}
.form > form > p > textarea {
    border: 1px solid #ccc;
    width: 65%;
    height: 50px;
}
.form > form > p > input, .submit > button, .form > form > p > textarea {
    box-shadow: 3px 3px 3px rgba(255,255,255,0);
    border: 1px solid #ccc;
    transition: box-shadow .5s ease;
}
.submit > button {
    font-size: 1.5em;
    width: 65%;
    font-weight: 300;
    padding: 1%;
    background-color: #6E2F77;
    color: #fff;
    transition: background-color .5s;
}
.submit > button:hover {
    background-color: #C43F75;
    transition: background-color .5s;
}
.form > form > p > input:hover, .submit > button:hover, .form > form > p > textarea:hover {
    box-shadow: 3px 3px 3px #d5d5d5;
}
/* start of FOOTER styling */
.footer {
    background-color: #000;
    color: #fff;
    opacity: .85;
    padding: 3%;
    text-align: center;
}
@media screen and (min-width: 1300px) {
    .headertext {
        font-size: 3.3em !important;
    }
}
@media screen and (min-width: 1200px) {
    .headertext {
        font-size: 3em;
    }
    .headertext2 {
        top: 73%;
        font-size: 3.8em;
    }
}
@media screen and (max-width: 1200px) {
    /* SITE WIDE styling */
    /* NAV styling */
    .headertext {
        font-size: 2.2em;
        line-height: 1.3;
    }
    .headertext2 {
        top: 72%;
        font-size: 3.2em;
        line-height: 1.2;
    }
}
@media screen and (max-width: 960px) {
    /* SITE WIDE styling */
    /* NAV styling */
    .arrow {
        width: 30px;
        height: 30px;
    }
    .arrow, .arrow:before {
        bottom: 20px;
    }
    .headertext {
        font-size: 2em;
    }
    .headertext2 {
        top: 75%;
        font-size: 3em;
    }
    /* SERVICES styling */
    .aboutInfo h2 {
        padding: 2% 2% 8% 2%;
    }
    .aboutInfo h5 {
        padding: 3% 2% 10% 2%;
    }
    /* PORTFOLIO styling */
    /* REVIEWS styling */
    .mainReview h3 {
        font-size: 2.2em;
        padding: 2% 0 5% 0;
    }
    /* ABOUT styling */
    .aboutMe, .aboutMe2 {
        flex: 1 1;
    }
    .aboutMe2 {
        padding: 10% 1% 1% 1%;
    }
    .aboutMe > h2 {
        font-size: 6em;
    }
    /* CONTACT styling */
    .freelance > h3 {
        padding: 2% 10% 5% 10%;
    }
    /* FOOTER styling */
}
@media screen and (max-width: 810px) {
    /* SITE WIDE styling */
    /* NAV styling */
    .headertext {
        font-size: 1.7em;
    }
    .headertext2 {
        top: 75%;
        font-size: 2.4em;
    }
}
@media screen and (max-width: 720px) {
    /* SITE WIDE styling */
    .arrow {
        display: none;
    }
    /* NAV styling */
    nav li > a {
        font-size: 1.5em;
    }
    .headertext, .headertext2 {
        display: none;
    }
    /* SERVICES styling */
    .aboutInfo {
        padding: 4% 0 15% 0;
    }
    .aboutInfo h2 {
        padding: 2% 2% 10% 2%;
    }
    .aboutInfo p {
        display: block;
        padding: 0 5%;
        font-size: 1.8em;
        line-height: 1.8em;
    }
    .aboutInfo p:nth-child(3) {
        font-size: 3em;
    }
    .aboutInfo h5 {
        padding: 10% 2% 5% 2%;
    }
    .skills p {
        font-size: 1.2em;
    }
    /* PORTFOLIO styling */
    .portTitle > p {
        font-weight: 300;
        font-size: 1.6em;
        padding: 3%;
        line-height: 1.2;
    }
    /* REVIEWS styling */
    .mainReview h3 {
        font-size: 2em;
        padding: 5% 0 10% 0;
    }
    .mainReview p {
        font-size: 1.5em;
    }
    /* ABOUT styling */
    #about {
        padding: 2% 5% 15% 5%;
    }
    .aboutMe, .aboutMe2 {
        flex: 1 1 100%;
    }
    .aboutMe2 {
        padding: 1%;
    }
    .aboutMe2 img {
        width: 70%;
        margin: 1% 15%;
    }
    /* CONTACT styling */
    /* FOOTER styling */
}
@media screen and (max-width: 600px) {
    /* SITE WIDE styling */
    /* NAV styling */
    /* mobile menu */
    .dropdownNav {
        display: none;
    }
    .hamNav {
        background-color: #AAB3B6;
        position: relative;
        display: inline-block;
        height: auto;
        width: 100%;
    }
    .menu-btn {
        cursor: pointer;
        display: inline-block;
        width: auto;
        margin: 0 auto;
        transition: all .7s ease;
    }
    .menu-btn div {
        position: absolute;
        left: 100%;
        top: 64%;
        padding-right: 8px;
        margin-top: -0.50em;
        line-height: 1.2;
        font-size: 18px;
        font-weight: 200;
        vertical-align: middle;
    }
    /*mobile button animation starts*/
    .menu-btn.click .top {
        transform: translateY(11px) rotateZ(45deg);
    }
    .menu-btn.click .middle {
        width: 0;
    }
    .menu-btn.click .bottom {
        transform: translateY(-11px) rotateZ(-45deg);
    }
    .bar {
        transition: all .7s ease;
        display: block;
        width: 35px;
        height: 5px;
        margin: 6px;
        border-radius: 2px;
        background: #fff;
    }
    .middle {
        margin: 0 auto;
    }
    .expand {
        display: block !important;
    }
    /*mobile button animation ends*/
    #nav {
        position: absolute;
        top: auto;
    }
    nav {
        margin: 0 auto;
        padding: 0;
    }
    nav a {
        margin: 0 auto;
        font-size: 1em;
    }
    nav ul {
        margin: 0 auto;
    }
    nav li {
        padding: 2% 1%;
    }
    nav ul li {
        display: inline-block;
        float: none;
        width: 100%;
        margin: 0 auto;
        font-size: 2em;
        border-bottom: 2px solid #04c7c7;
        text-align: center;
        transition: all .5s ease;
        background-color: rgba(18, 18, 17, .8);
    }
    /* SERVICES styling */
    .aboutInfo h2 {
        font-size: 4em;
    }
    .aboutInfo p:nth-child(3) {
        font-size: 2.5em;
    }
    .aboutInfo h5 {
        padding: 12% 5% 0 5%;
        font-size: 1.6em;
    }
    .services {
        flex: 1 1 100%;
        background-color: #fff;
    }
    .icon {
        margin-top: 0;
        margin-bottom: 3%;
    }
    .icon img {
        right: 0;
    }
    .serviceDivide, .serviceDivide2, .serviceDivide3 {
        width: 400px;
    }
    .services p {
        font-size: 1.3em;
        padding: 4% 10%;
        line-height: 1.2;
    }
    .skills {
        background-color: #fff;
    }
    .skills h2 {
        padding: 3%;
    }
    .skills p {
        padding: 2% 10% 10% 10%;
    }
    /* PORTFOLIO styling */
    .portfolio, .portfolio2 {
        flex: 1 1 100%;
        padding: 2% 4%;
    }
    .portTitle > h2 {
        font-size: 7em;
    }
    .portTitle > h3 {
        font-size: 5em;
    }
    .portTitle > p {
        padding: 5% 10%;
    }
    /* REVIEWS styling */
    .mainReview h3 {
        font-size: 1.7em;
        text-align: center;
    }
    .mainReview p {
        font-size: 1.3em;
    }
    /* ABOUT styling */
    #about {
        padding: 2% 5% 20% 5%;
    }
    .aboutMe > h2 {
        text-align: center;
    }
    .aboutMe p {
        padding: 3% 1% 5% 1%;
        font-size: 1.3em;
        line-height: 1.2;
        text-align: center;
    }
    .aboutMe2 img {
        width: 80%;
        margin: 1% 10%;
    }
    /* CONTACT styling */
    .serviceDivide4 {
        margin: 5% auto 5% auto;
    }
    .form {
        padding: 10% 15%;
        margin: 15% 0;
    }
    .form > form > p {
        font-size: 1.5em;
    }
    .form > form > p > label {
        width: 100%;
        text-align: center;
    }
    .submit > button, .form > form > p > textarea, .form > form > p > input {
        width: 100%;
    }
    /* FOOTER styling */
    .footer {
        padding: 6% 3%;
    }
}
@media screen and (max-width: 460px) {
    /* SITE WIDE styling */
    /* NAV styling */
    /* SERVICES styling */
    .aboutInfo h2 {
        padding: 3% 2% 20% 2%;
        font-size: 3.5em;
    }
    .aboutInfo p {
        font-size: 1.4em;
        line-height: 1.6;
    }
    .aboutInfo p:nth-child(3) {
        font-size: 2.2em;
    }
    .serviceDivide, .serviceDivide2, .serviceDivide3 {
        width: 300px;
    }
    .services p {
        font-size: 1.2em;
        padding: 4%;
    }
    /* PORTFOLIO styling */
    .portTitle > h2 {
        font-size: 6em;
    }
    .portTitle > h3 {
        font-size: 4.5em;
    }
    .portTitle > p {
        font-weight: 300;
        font-size: 1.4em;
        padding: 5% 2%;
        line-height: 1.2;
    }
    /* REVIEWS styling */
    .mainReview h3 {
        font-size: 1.5em;
        padding: 5% 0 10% 0;
    }
    .mainReview p {
        font-size: 1.2em;
    }
    /* ABOUT styling */
    #about {
        padding: 2% 5% 25% 5%;;
    }
    .aboutMe > h2 {
       font-size: 5em;
    }
    .aboutMe p {
        font-size: 1.2em;
    }
    .aboutMe2 img {
        width: 90%;
        margin: 1% 5%;
    }
    /* CONTACT styling */
    .freelance > h3 {
        padding: 2% 2% 10% 2%;
    }
    .form {
        padding: 10% 5%;
    }
    /* FOOTER styling */
}






